<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Document</title>
</head>
<body>
    <h1>Student information</h1>
    <br>
    <% for(let i=0;i<user.length;i++){ %>
        <div>Name: <%=user[i].name%></div>
        <div>Email: <%=user[i].email%></div>
        <div>Stacks: <%=user[i].stacks%></div>
        <div>Address:  <%=user[i].address%></div>
        <form method="post" action="/download">
            <label >Resume</label>
            <button name="file" value="<%=user[i].file%>">Download</button>
            <br>
            <br>
        </form>
    <% } %>
    <a href="/logout">Logout</a>
</body>
</html>